doc/*
!doc/aclhound.7
!doc/aclhound.rst
bin/*
!bin/test.py
!lib/aclhound/targets/*
!lib/aclhound/*
lib/python2.7
include/*
*.pyc
.coverage
.eggs/
aclhound.egg-info/
build/
dist/
src/
.Python
local
*.egg
